.dimmer {
  background-color: rgba(65, 70, 97, 0.8);
  border-radius: 3px;
}

.page-title {
  display: flex;
  justify-content: center !important;
}

.form-container {
  width: 400px;
  margin: auto;
}
